* {
    margin: 0;
    box-sizing: border-box;
  }

body {
    background: lightblue;
    color: navy;
    font-family: 'DM Mono', monospace;
}

header{
    padding: 20px;
    text-align: center;
    font-size: 200%;
    color: yellow;
}

.container{
    width: 90%;
    background-color: beige;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
}

h3{
    color: grey;
}

ul {
  padding: 0;
}

li{
    list-style: none;
}

.section {
  display: flex;
  margin-bottom: 10px;
}

.section-container {
  flex: 1 1 0;
  text-align: center;
}

.list-item {
  text-align: center;
}

.delete-button {
  color: red
}

.delete-button:hover{
  color: lightcoral;
  cursor: pointer;
}

footer {
  margin: auto;
  padding: 20px;
  text-align: center;
  color: yellow;
}
