* {
    margin: 0;
    box-sizing: border-box;
  }

body {
    background: lightblue;
    color: navy;
    font-family: 'DM Mono', monospace;
}

header{
    padding: 20px;
    text-align: center;
    font-size: 200%;
    color: yellow;
}

input {
  border-radius: 5px;
}

h3{
    color: grey;
}

ul {
  padding: 0;
}

li {
    list-style: none;
}

footer {
  margin: auto;
  padding: 20px;
  text-align: center;
  color: yellow;
}

.container {
  width: 90%;
  background-color: beige;
  padding: 10px;
  margin: auto;
  border-radius: 15px;
}

#user-actions {
  display: flex;
  flex: 1 1 0;
}

#landing-page-text {
  margin-bottom: 10px;
  text-align: center;
}

#sign-up-container, #login-container {
  width: 50%;
  text-align: center;
}

#sign-up-container {
  border-right: 2px solid navy;
}

#login-container {
  border-right: 2px solid navy;
  border-left: 2px solid navy;
}

.landing-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landing-form input {
  margin: 5px;
  height: 30px;
}

.section {
  display: flex;
  margin-bottom: 10px;
}

.section-container {
  flex: 1 1 0;
  text-align: center;
}

.list-item {
  text-align: center;
}

.delete-button {
  color: red
}

.delete-button:hover{
  color: lightcoral;
  cursor: pointer;
}
